<div class="passwords">
    {{#each passwords}}
    <article class="card">
        <div class="card-header flex-row justify-space-between">
            <h2>
                <a href="/password/{{id}}">{{website_url}}hi</a>
            </h2>
            <div>
                {{password.title}}
            </div>
        </div>
        <div class="card-body">
            {{body}}
        </div>
    </article>
    {{/each}}
</div>