<div class="posts list-group">
    {{#each posts}}
    <div class="row my-1"
    <a class="list-item flex-row justify-space-between text-white" href="/dashboard/edit/{{id}}">
        <span>Website: {{title}}</span>
        {{!-- <span>{{format_date createdAt}}</span> --}}
    </a>
    </div>
    {{/each}}
</div>