<div class="password card">
    <div class="card-header">
        <h2>Edit Passwords</h2>
    </div>
    <form id="edit-password-form" class="card-body">
        <input type="hidden" name="password-id" value="{{password.id}}" />

        <label class="form-label" for="password-title">Title</label>
        <input type="text" name="password-title" value="{{password.title}}" class="form-input" />

        <label class="form-label" for="password-body">Content</label>
        <textarea name="password-body" class="form-input">{{password.body}}</textarea>

        <button type="submit" class="btn">Update</button>

        <button type="button" id="delete-btn" class="btn">Delete</button>
    </form>
</div>

<script src="/javascript/edit.js"></script>