<div class="container">
<div class="card">
    <div class="card-header">
        <h2>Login</h2>
    </div>
    <form class="login-form" class="card-body">
        <div>
            <label for="username-input-login">Username</label>
            <input type="text" id="username-input-login" />
        </div>
        <div>
            <label for="password-input-login" class="form-label">Password</label>
            <input type="password" id="password-input-login" />
            <button data-toggle="password" data-target="#password-input-login">Toggle</button>
        </div>
        <button type="submit" id="login-btn" class="btn">Login</button>
        <a class= "signupBtn" type="button" href="/signup">Sign up</a>
    </form>
</div>

 <img class="flex-row justify-center image"  src="/images/signin.svg" alt="login image">
</div>



<script src="/javascript/login.js"></script>
