<div class="password card">
    <div class="card-header">
        <h2>Create a Password</h2>
    </div>
    <form id="new-password-form" class="card-body">
        <label class="form-label" for="password-title">Title</label>
        <input type="text" name="password-title" class="form-input" />

        <label class="form-label" for="password-body">Content</label>
        <textarea name="password-body" class="form-input"></textarea>

        <button type="submit" class="btn">Create</button>
    </form>
</div>

<script src="/javascript/new.js"></script>