<div class="container">
<div class="card">
    <div class="card-header">
        <h2>Login</h2>
    </div>
    <form class="signup-form" class="card-body">
        <div>
            <label for="username-input-login">Username</label>
            <input type="text" id="username-input-signup" />
        </div>
        <div>
            <label for="username-input-login">Email</label>
            <input type="text" id="email-input-signup" />
        </div>
        <div>
            <label for="password-input-login" class="form-label">Password</label>
            <input type="password" id="password-input-signup" />
        </div>
        <button type="submit" id="login-btn" class="btn">sign up </button>
    
    </form>
</div>

 <img class="flex-row justify-center image"  src="/images/singup.svg" alt="login image">
</div>



<script src="/javascript/signup.js"></script>