/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-size: cover;
}

body::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.container {
    text-align: center;
    font-size: 18px;
    margin-bottom: 8px;
}

.container {
    border: none;
    border-radius: 8px;
    min-width: 300px;
    font-size: 16px;
    padding: 8px 4px;
    color: #fff;
} */

.passwordGen {
    margin-top: 12px;
    width: 96%;  
    padding: 10%;
    border-radius: 5%;
    color: #314452;
    font-weight: bold;
    font-size: 18px;
    font-stretch: expanded;
    letter-spacing: 1px;
}

#gen-pass-btn {
    
    width: 25vw;
    background-color: white;
    color: var(--primary);
    border-radius: 4px;
    display:inline-block;
    font-size: 24px;
    height: 10vh;
    max-height: 10vh;
}


#gen-pass-btn:hover {
    background-color: rgb(158, 157, 157);
    color: var(--secondary);
}

#gen-pass-input {
     height: 10vh;
     max-height: 10vh;
     width: 25vw;
     padding: 5px;
     font-size: 24px;
}
